/* 태블릿 */
@media (max-width:991px) {
  header {
    background-color: #3C486B;
  }
  .logo img {
    width: 20%
  }
  .body-wrap {
    margin-top: 5%;
  }
  button{
    width: 70%;
  }
}

/* 모바일 */
@media (max-width:768px){
  header {
    background-color: #3C486B;
}
  .login span {
    font-size: 40px;
  }
  .Allagree {
    color: #111;
    font-size: 18px;
}
  .logo img {
    width: 30%
}
  .body-wrap {
    margin-top: 5%;
}
  #joinForm {
    width: 384px;
}
  .check01 {
    left: 70%;
  }
}